@{
    ViewData["Title"] = "JaNae's IS Calculator";
}
<body class="body">
    <!--Header that lists your preferred name-->
    <h1 class="heading">Hi! I'm JaNae Weaver</h1>
    <h2 class="heading">Welcome to the home page</h2>
    <!--A picture of yourself doing something you enjoy-->
    <img src="img/walk.png" class="image" />
    <p>I am really interesed in 'cutting my teeth' in the folllowing areas:</p>
    <ol>
        <li>Web Developement</li>
        <li>Cyber Security</li>
        <li>Content Creation</li>
    </ol>

    <p>I hope to get out of this IS 413 class:</p>
    <ul>
        <li>The skills to create and launch all of the websites I wanna make</li>
        <li>A good grade, not gonna lie</li>
        <li>Better friendships</li>
        <li>Expirience thinking my way through problems</li>
        <li>Inspiration on how I can can the world, substantially and for the better</li>
    </ul>
</body>
